@{
    ViewBag.Title = "Confirmación de reinicio de contraseña";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido reiniciada. Por favor @Html.ActionLink("clickee aquí para ingresar", "Login", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
